
<h1>Editing Book</h1>

<%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>
<div class ="field">
 <div class="book-title">Title</div>
 <div class ="book-title"><%= f.text_field :title %></div>
</div>
<div class ="field">
 <div class ="book-body">Body</div>
 <div class ="book-body"><%= f.text_area :body %></div>
</div>
<div class ="action"><%= f.submit 'Update Book' %></div>
<% end %>

<%= link_to "show", book_path(@book.id) %>
 |
<%= link_to "back", '/books' %>
