<h1>Bookers</h1>

<table>
 <thead>
  <tr>
   <th>Title</th>
   <th>Body</th>
   <th colspan = "3"></th>
  </tr>
 </thead>
 <% @books.each do |book| %>
  <tbody>
   <td><%= book.title %></td>
   <td><%= book.body %></td>
  </tbody>
 <% end %>
</table>


<h2>New Book</h2>

<form class ="new-book">
 <%= form_with model: @Book,url: '/books', method: :post do |f| %>
 <div class ="field">
  <div class ="bool-title">Title</div>
  <div class ="book-title"><%= f.text_field :title %></div>
 </div>
 <div class ="field">
  <div class ="book-body">Body</div>
  <div class ="book-body"><%= f.text_area :body %></div>
 </div>
 <div class = "action"><%= f.submit 'Create Book' %></div>
 <% end %>
</form>


<h1>Books#index</h1>
